@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}


.fighter-preview___skills {
  height: fit-content;
  max-width: 200px;
  list-style: none;
  padding: 15px;
  background: #ffdfa7;
  border: 5px solid #ca9650;
  color: #760303;
  font-family: 'Reggae One', cursive;
  text-align: center;

}

.fighter-preview___img {
  max-height: 250px;
}